# Copy file ini ke .env, lalu isi dengan kredensial project Supabase kamu.
# Ambil dari: Supabase Dashboard > Project Settings > API
VITE_SUPABASE_URL=https://lcmtfttekghgagmsioeg.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_a9Op5OMfcUsNXBW12NxZWA_rHoP7Xpo
VITE_GEMINI_API_KEY=isi_dengan_api_key_dari_google_ai_studio
